.banner{
    width: 100%;
    height: 100vh;
    background-image: url('../../Assets/Logo/logo.png');
    background-repeat: no-repeat;
    background-color: #000;
    background-size: 500px;
    background-position: right  100px bottom 100px;
    .navbar{
        padding: 40px;
        ul{
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            .logo{
                .logo__item{
                    width: 120px;
                }

            }
            a{
                margin-left: 30px;
                text-decoration: none;
                color: white;
                font-size: 18px;
                transition: all ease 0.5s;
            }
            a:hover{
                color: #ff7200;
                text-shadow:10px 10px 22px #ff7200;
            }
            
        }
    }
    .main__title{
        font-size:60px;
        color:white;
        margin-top: 10%;
        margin-left: 7%;
        margin-bottom: 16px;
    }
    .main__desc{
        width: 46%;
        font-weight: 500;
        font-size: 28px;
        color:white;
        margin-left: 7%;
    }
    .main__btn{
        margin-left: 7%;
        margin-top: 4%;
        width: 230px;
        height: 45px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease 0.5s;
    }
    .next__btn{
        font-weight:100;
        font-size: 25px;
    }
    .main__btn:hover{
        background-color: #ff7200;
        color: #fff;
    }
}
